@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}


body {
    color: #000;
    background: #fff;
}

header {
    width: 100%;
    height: 150px;
    background-color: black;
    display: flex;
    flex-direction: row;
    padding: 1% 4% 0% 4%;
}
.header_logo {
    width: 30%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: left;
}
.header_logo h1 {
    color: white;
}
.header_links {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: right;
}
.header_links ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 60%;
}
.button_link_cadastrar_header {
    padding: 4%;
    height: 100%;
    width: 100%;
    color: white;
    border-radius: 5px;
    background-color: #5B2A86;
}
#lista_button_header {
    width: 25%;
    height: 45%;
}
.header_links ul li {
    text-decoration: none;
    width: 15%;
    margin: 0;
}
.header_links ul li a{
    text-decoration: none;
    font-style: none;
    font-size: 18px;
    color: white;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 5% 2% 5%;
    width: 100%;
    background: #000 ;
    transition: all 0.5;
    position: absolute;
}

.navigation .logo {
    color: #C3C3E6;
    font-size: 1.7rem;
    font-weight: 600;
}

.logo span{
    color: #C6EBBE;
}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 5rem;
    border: 1px solid white;
    width: 40%;
}

.navigation ul li a {
    color: #C3C3E6;
    font-size: 17px;
    font-weight: 500;
    width: 100%;
    transition: all 0.5;
    font-style: none;
    text-decoration: none;
}
.navigation ul li {
    width: 50%;
}
.nav-item.button {
    width: 100%;
  
}
.nav-item.button button {
    width: 100%;
    padding: 5%;
    border: 0;
    border-radius: 5px;
    background-color: #5B2A86;
    color: white;

}
.navigation ul li a:hover {
    color: #C6EBBE;
}

.navigation i{
    cursor: pointer;
    font-size: 1.5rem;
}

.menu {
    cursor: pointer;
    display: none;
}

.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: #000;
    margin: 5px auto;
    transition: all 0.3s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: red;
}

.home{
    width: 100%;
    height: 80vh;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0px 5%;
}

.home-text {
    width:70%;
}

.home-text .text-h4{
    font-size: 25px;
    margin-bottom: 3rem;
    font-weight: 400;
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 15px;
    width: 90%;
    text-align: justify;
}

.home-text .text-h1{
    font-size: 40px;
    width: 90%;
    margin-bottom: 1.5rem;
    text-align: justify;
    color: #5B2A86;
}

.home-btn{
    padding: 1.5%;
    width: 25%;
    background: black;
    color: #fff;
    border-radius: 10px;
    font-weight: 500;
    transition: all 0.5s;
    text-decoration: none;
}

.home-btn:hover {
    background: white;
    border: 2px solid black;
    color: black;
}

.home-img img{
    width: 100%;
}
.home-img {
    width: 40%;
    display: flex;
    align-items: center;
    height: 50%;
}

.descricao {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    padding: 0 45px 0 45px;
}

.descricao h1 {
    color: #5B2A86;
    font-weight: bold;
    font-size: 30px;
}

.descricao p {
    width: 85%;
    text-align: justify;
    margin-bottom: 20px;
    font-size: 21px;
}

.carrossel {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.carousel-item {
    display: flex;

    width: 100%;
    height: 100%;
    flex-direction: row;
}

.carousel-item img {
    width: 1%;
}

.membros {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 70px;
}

.membros h1 {
    color: #5B2A86;
    font-weight: bold;
}

.membros img {
    width: 220px;
    border-radius: 100%;
}

.integrantes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

.pessoa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.comunicacao {
    width: 100%;
    height: 500px;
    padding: 100px;
    margin-top: 2%;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: justify;
}

.suporte {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 80px;
    padding-right: 80px;
    border-right: #000 solid 1px;
}

.contato {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-right: 80px;
    padding-left: 80px;
    border-left: #000 solid 1px;
}

footer h2 {
    font-size: 18px;
}

.suporte h1 {
    color: #5B2A86;
    font-weight: bold;
}

.contato h1 {
    color: #5B2A86;
    font-weight: bold;
    text-align: end;
}

.texto-comunicacao {
    font-size: 20px;
    font-weight: 200;
}

footer {
    background-color: #000;
    color: #C3C3E6;
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10%;
}

footer .coluna {
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer .coluna .titulo-rodape2 {
    margin-top:20%;
    font-size: 25px;
}

footer .coluna .titulo-rodape2.cnpj {
    font-size: 25px;
    margin-top:20%;
}

footer .coluna .titulo-rodape2.redes {
    font-size: 25px;
    margin-top:20%;
}

@media (max-width: 785px) {
    .navigation{
        padding: 18px 20px; 
    }

    .menu{
        display: block;
    }

    .menu.ativo .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }

    .menu.ativo .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: #fff;
        display: flex;
        align-items: center;
        gap: -10px;
        transition: 0.3s;
    }

    .nav-menu.ativo{
        right: 0;
    }

    .nav-item {
        margin: 16px 0;
        width: 100% ;
    }
    .nav-item a{
        width: 100% !important;
    }
    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }

    .home .text-h4 {
        font-size: 15px;
    }

    .home .text-h1 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .home p{
        font-size: 15px;
    }

    .home-img {
        width: 125%;
    }
}